<% if signed_in? %>
  <%= render 'static_pages/member_page' %> 
  <section>
    <%= render 'shared/user_info' %>
  </section>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <section>
    <%= render 'shared/micropost_form' %>
  </section>
<% else %>
  <%= render 'static_pages/guest_user' %>
<% end %>